html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-darkorange, .active.btn-darkorange {
    background-color: darkorange;
    border-color: darkorange;
}

.card-img {
    width: 200px;
    height: 307px;
}

.page-item > a {
    color: black;
}

.page-item.active > a {
    background-color: darkorange !important;
    border-color: darkorange;
}

.darkorange {
    color: darkorange !important;
}

.tomato-bg {
    background-color: tomato !important;
}

.nav-basket > a {
    border: 1px solid darkorange;
    border-radius: 4px;
    color: darkorange;
}

    .nav-basket > a > i {
        color: darkorange;
    }
