@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error ⚠️</h1>
<h2 class="text-danger">An error occurred while processing your request. <br />
    Please try again later or contact the system administrator.</h2>

