@{
	ViewData["Title"] = "Order is Taken";
}

<h2>Your order is taken</h2>
<canvas id="confetti"></canvas>

<script>
	document.addEventListener('DOMContentLoaded', () => {
	const jsConfetti = new JSConfetti();
    
	jsConfetti.addConfetti()
	});
</script>